<h1 style='text-align: center;'>Eat the burger!</h1>


<br>
<hr>
<div id='burgerContainer'>
    <div id='eaten' style='float: left;'>
        <ul>
            {{#each burgers}} {{#unless devoured}}
            <li>
                {{this.id}}. {{this.burger_name}}
            </li>
            {{/unless}} {{/each}}
        </ul>
    </div>
    <div id='uneaten' style='float: right;'>
        <ul>
            {{#each burgers}} {{#if devoured}}
            <li>
                {{this.id}}. {{this.burger_name}}
            </li>
            {{/if}} {{/each}}
        </ul>
    </div>
</div>


<div id='createBurgerBox'>
    {{!--
    <form> --}}
        <textarea name='burger'></textarea>
        <button type='submit'>Create the burger!</button>
        {{!-- </form> --}}
</div>